<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
        <title><%= yield(:title) %> | Ottawa's Spoon</title>
  </head>
  <body>
    <h1>Ottawa's Spoon</h1>
    <p>
      This is the home page 
    </p>
  </body>
</html>